APP_ENV="local"
APP_NAME="inventory"
LOG_LEVEL=0
LOG_VICTORIA_URL="http://localhost:9428/insert/jsonline"

SERVER_PORT=8088
SERVER_READ_TIMEOUT="5s"
SERVER_WRITE_TIMEOUT="5s"
OPENAPI_PATH="../modules/docs/api/inventory/v1/openapi.yaml"

PG_RO_DSN="postgres://admin:secretpassword@localhost:5432/inventory"
PG_RW_DSN="postgres://admin:secretpassword@localhost:5432/inventory"
PG_CONNECT_TIMEOUT="5s"
