SERVER_PORT=8088
LOG_LEVEL=0
LOG_VICTORIA_URL=http://localhost:9428/insert/jsonline
PG_RO_DSN=postgres://admin:password@localhost:5432/inventory
PG_RW_DSN=postgres://admin:password@localhost:5432/inventory
OPENAPI_PATH=../modules/docs/api/inventory/v1/openapi.yaml
